@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

h1{
    text-align: center;
    margin: 12px 0px;
}

.container{
    min-height: 67vh;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    margin: 43px 0px;
    /* background-color: black; */
}

.container h1{
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 34px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 3px solid green;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 3px 16px;
    font-size: 20px;
    border: 2px solid green;
    border-radius: 12px;
    outline: none;
    background-color: rgb(47, 47, 53);
    color: mintcream;
    margin: 23px;
}